:root {
  /* Colours */
  --color-bg: #3880ad; /* page background /*

  /* Header */
  --color-head-bg: #182d63;

  /* Logotype */
  --color-logotype-bg: #000;
  --color-text-logotype: #d9e3ff;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #0f2c47;
  /* Links */
  --color-link-bg: #d9e3ff;
  --color-link-hover: #c6d3f5; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #000;
  --color-headline-text-page: #d9e3ff;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #d9e3ff;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #194a75;
  --color-cta-card-bg: #182d63;
  /* news-cards */
  --color-news-bg: #334c8c;
  --color-news-bg-inverted: #d9e3ff;
  --color-cta-newscard-bg: #707070;
  --color-cta-newscard-bg-inverted: #1b456c;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #194a75;
  --color-infobox-1-bg: #3880ad;
  --color-infobox-2-bg: #def5db;
}
